<div class="auth-wrapper">
  <div class="auth-card">
    <h1 class="auth-form-title">Login</h1>
    <p class="auth-subtitle">Access your TradeForge account</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>
            <span>Email</span>
            <input type="email" formControlName="email" />
        </label>

        <label>
            <span>Password</span>
            <input type="password" formControlName="password" />
        </label>

        <button type="submit">Login</button>
    </form>

    @if (errorMessage()) {
        <p class="error-message">{{ errorMessage() }}</p>
    }

    <br />

    <p class="auth-footer">
        Don't have an account? <a class="link" routerLink="/auth/register">Go to Register</a>
    </p>
  </div>
</div>

